<section>
  <nav>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-300 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false" (click)="tabMobiles()">
            <span class="absolute -inset-0.5"></span>
            <!--Icon when menu is closed. Menu open: "hidden", Menu closed: "block"-->
            <svg class="h-6 w-6" [ngClass]="tabMobile == true ? 'hidden' : 'block'" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--Icon when menu is open. Menu open: "block", Menu closed: "hidden"-->
            <svg class="h-6 w-6" [ngClass]="tabMobile == true ? 'block' : 'hidden'" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-8 w-auto" src="/assets/icon/logo.png" alt="Your Company">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <div *ngFor="let i of menu">
                <a [href]="i.link" [ngClass]="isActive(i.link)?'activeLink':''" class="text-gray-300 hover:border-b-4 hover:border-[#5C06E4] hover:text-[#5C06E4] px-3 py-2 text-sm font-medium">{{ i.name }}</a>
              </div>
            </div>
          </div>
        </div>
        <!-- Search Bar -->
        <div class="hidden flex relative sm:block" *ngIf="role=='USER'||role==null">
          <div class="absolute inset-y-0 end-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
          </div>
          <input type="text" id="search-navbar" class="w-[250px] block p-2 text-sm text-black border border-gray-300 rounded-lg bg-white focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Search Vendor">
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <!-- Profile dropdown -->
          <div class="relative ml-3">
            <div *ngIf="role!=null">
              <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true" (click)="tabUsers()">
                <span class="absolute -inset-1.5"></span>
                <img class="h-8 w-8 rounded-full"
                      src="{{'data:image/jpg;base64,' + imgProfile}}">
              </button>
            </div>
            <div class="flex flex-row space-x-2" *ngIf="role==null">
              <button type="button" class="relative flex rounded-md bg-white text-indigo-600 border-indigo-600 border-2 text-sm font-semibold shadow-sm hover:bg-gray-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" id="user-menu-button" aria-expanded="false" aria-haspopup="true" (click)="redirectPage(1)">
                <span class=" px-3.5 py-1.5">Login</span>
              </button>
              <button type="button" class="relative flex rounded-md bg-indigo-600 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" id="user-menu-button" aria-expanded="false" aria-haspopup="true" (click)="redirectPage(2)">
                <span class=" px-3.5 py-1.5">Sign Up</span>
              </button>
            </div>
            <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" [ngClass]="tabUser == true ? 'block transition ease-out duration-100' : 'hidden transition ease-in duration-75'">
              <a *ngFor="let i of dropdown" [ngClass]="isActive(i.link)?'activeMenu':''"
              [href]="i.link" class="block px-4 py-2 text-sm text-gray-700 hover:bg-indigo-100 active:bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">{{ i.name }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div class="space-y-1 px-5 py-2 relative" [ngClass]="tabMobile == true ? 'block' : 'hidden'">
        <div class="absolute inset-y-0 end-5 flex items-center ps-3 pointer-events-none">
          <svg class="w-full h-4 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
        </div>
        <input type="text" id="search-navbar" class="w-full block p-2 text-sm text-black border border-gray-300 rounded-lg bg-white focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Search Vendor">
      </div>
      <div class="space-y-1 px-2 pb-3 pt-2 " [ngClass]="tabMobile == true ? 'block' : 'hidden'">
        <div *ngFor="let i of menu">
          <a [href]="i.link" [ngClass]="isActive(i.link)?'activeMobileLink bg-indigo-100':''" class="hover:bg-indigo-100 block rounded-md px-3 py-2 text-base font-medium">{{ i.name }}</a>
        </div>
      </div>
    </div>
  </nav>
</section>
