<div class="flex flex-col p-4 text-center sm:p-5 justify-center items-center">
  <img src="../assets/icon/icons8-transaction-list-64.png" alt="">
  <div class="">{{ quest }}</div>
  <div *ngIf="this.data.action == 'CANCEL_USER' || this.data.action == 'CANCEL_VENDOR'" class="w-full">
    <div class="font-semibold mb-2">
      Reason for canceling transaction
    </div>
    <input type="text" minlength="1" maxlength="50" [(ngModel)]="alasanReject"
          class="border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
  </div>
  <div class="text-[10px] text-center text-red-500 mb-2">By taking this action, You agree to <a href="/tnc"><b>EONITE's Terms and Condition</b></a></div>
  <div class="flex justify-center items-center space-x-4">
      <button (click)="onNoClick()" data-modal-toggle="deleteModal" type="button" class="rounded-md px-7 md:px-5 py-2 text-white bg-[#5C06E4] hover:bg-indigo-500">
          No, cancel
      </button>
      <button (click)="submit()" class="md:ml-3 rounded-md px-5 py-2 text-white bg-red-600 hover:bg-red-500">
          Yes, I'm sure
      </button>
  </div>
</div>
<div *ngIf="loader" class="bg-white">
  <div class="absolute top-0 start-0 size-full bg-gray-800/[.4] z-10"></div>
  <div class="absolute top-1/2 start-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <div class="animate-spin inline-block size-10 border-[4px] border-current border-t-transparent text-[#5C06E4] rounded-full p-2" role="status" aria-label="loading">
    </div>
  </div>
</div>
