<app-navbar></app-navbar>
<section class="w-full">
  <div class="w-full flex justify-center">
    <div class="absolute inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
      <div class="relative -z-10 left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
  </div>
  <div class="container mx-auto p-12 max-w-[1000px]">
    <div class="font-semibold text-center text-xl mb-3 uppercase">Privacy Policy for EONITE</div>
    <p class="text-justify">At EONITE, accessible from eoniteapp.cloud, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by EONITE and how we use it.</p>
    <p class="text-justify">If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.</p>

    <h2>Log Files</h2>
    <p class="text-justify">EONITE follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

    <h2>Privacy Policies</h2>
    <p class="text-justify">You may consult this list to find the Privacy Policy for each of the advertising partners of EONITE.</p>
    <p class="text-justify">Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on EONITE, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
    <p class="text-justify">Note that EONITE has no access to or control over these cookies that are used by third-party advertisers.</p>

    <h2>Third Party Privacy Policies</h2>
    <p class="text-justify">EONITE's Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. </p>
    <p class="text-justify">You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites. What Are Cookies?</p>

    <h2>Online Privacy Policy Only</h2>
    <p class="text-justify">This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in EONITE. This policy is not applicable to any information collected offline or via channels other than this website.</p>

    <h2>Consent</h2>
    <p class="text-justify">How do you get my consent? When you provide us with personal information to complete a transaction, verify your payment, place an order, we imply that you consent to our collecting it and using it for that specific reason only. If we ask for your personal information for a secondary reason, like marketing, we will either ask you directly for your expressed consent, or provide you with an opportunity to say no.
    How do I withdraw my consent? If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information, at anytime, by contacting us at eoniteapp@gmail.com</p>
  </div>
</section>
<app-footer></app-footer>
