<app-navbar></app-navbar>
<section class="w-full">
  <div class="w-full flex justify-center h-full">
    <div class="absolute inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
      <div
        class="relative -z-10 left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
        style="
          clip-path: polygon(
            74.1% 44.1%,
            100% 61.6%,
            97.5% 26.9%,
            85.5% 0.1%,
            80.7% 2%,
            72.5% 32.5%,
            60.2% 62.4%,
            52.4% 68.1%,
            47.5% 58.3%,
            45.2% 34.5%,
            27.5% 76.7%,
            0.1% 64.9%,
            17.9% 100%,
            27.6% 76.8%,
            76.1% 97.7%,
            74.1% 44.1%
          );
        "></div>
    </div>
  </div>
  <div class="container mx-auto p-12 max-w-[1000px]">
    <div class="text-center font-bold text-xl uppercase">
      <strong>Syarat dan Ketentuan</strong>
    </div>
    <p>Selamat datang di EONITE!</p>
    <p class="text-justify">
      Syarat dan Ketentuan yang ditentukan dibawah ini (selanjutnya disebut
      sebagai “Syarat dan Ketentuan Pengguna”) berlaku untuk penggunaan anda
      terhadap platform EONITE yang dapat anda akses termasuk namun tidak
      terbatas pada situs www.eoniteapp.cloud. Pengguna disarankan untuk membaca
      Syarat dan Ketentuan ini karena akan berdampak pada hak dan kewajiban
      Pengguna di bawah hukum.
    </p>
    <p class="text-justify">
      Agar anda dapat menggunakan fasilitas yang diberikan oleh Platform EONITE
      secara lengkap, maka anda wajib melakukan registrasi atau pendaftaran
      terlebih dahulu dengan membuat akun di Platform EONITE sebagai Pengguna
      (sebagaimana didefinisikan di bawah ini) dan anda menyatakan dan menjamin
      bahwa anda adalah individu yang secara hukum berhak untuk mengadakan
      perjanjian yang mengikat berdasarkan hukum Republik Indonesia, khususnya
      untuk menggunakan Platform EONITE dan bahwa anda telah berusia minimal 18
      (delapan belas) tahun. Oleh karena itu, anda berkewajiban untuk memberikan
      data-data dan/atau informasi secara benar, akurat, dan lengkap.
    </p>
    <p class="text-justify">
      Setiap kegiatan terkait dengan Penggunaan fasilitas Platform EONITE, maka
      Pengguna, dilindungi secara hukum berdasarkan Undang-Undang Nomor 11 Tahun
      2008 tentang Informasi dan Transaksi Elektronik, dan terhadap segala
      bentuk perikatan yang timbul dari segala aktifitas di Platform EONITE
      telah memenuhi kaidah dan syarat sahnya suatu perjanjian sebagaimana yang
      tercantum dalam Kitab Undang-Undang Hukum Perdata Indonesia.
    </p>
    <p class="text-justify">
      Kami menyarankan anda untuk membaca Syarat dan Ketentuan Pengguna ini
      dengan seksama sebelum menggunakan Platform EONITE. Apabila Pengguna tidak
      menerima dan/atau tidak sepakat dengan Syarat dan Ketentuan Pengguna ini,
      maka anda tidak diperkenankan untuk mengakses atau menggunakan Platform
      EONITE.
    </p>

    <div class="text-lg text-center"><strong>DEFINISI</strong></div>
    <p class="text-justify">
      Dalam Syarat dan Ketentuan Pengguna ini, kecuali apabila secara tegas ditentukan lain, istilah-istilah dibawah ini
      memiliki arti sebagai berikut:
    </p>
    <ul class="ml-4">
      <li class="text-justify">
        <b>Platform EONITE</b> adalah situs e-commerce yang dikelola dan dimiliki oleh EONITE, berfungsi untuk
        mempertemukan Pengguna dan para Vendor yang teregistrasi, yang tersedia melalui www.eoniteapp.cloud.
      </li>
      <li class="text-justify">
        <b>Produk</b> barang dan/atau jasa yang ditawarkan Vendor teregistrasi pada platform EONITE.
      </li>
      <li class="text-justify">
        <b>User</b> adalah pihak yang menggunakan Platform EONITE, baik yang telah melakukan registrasi akun sebagai
        Vendor dan/atau Pembeli maupun sekedar mengunjungi Platform EONITE.
      </li>
      <li class="text-justify">
        <b>Vendor</b> adalah orang perseorangan, perseroan terbatas, koperasi, firma (baik yang memiliki atau tidak
        memiliki badan hukum) yang terdaftar pada Platform EONITE, yang dapat melakukan penyediaan Produk, melakukan
        penawaran dan/atau penjualan atas suatu Produk kepada para Pembeli.
      </li>
      <li class="text-justify">
        <b>Pembeli </b> adalah Pembeli terdaftar yang melakukan permintaan atas Produk dan/atau Jasa yang ditawarkan
        oleh Vendor pada platform EONITE.
      </li>
      <li class="text-justify">
        <b>Akun Pembeli</b> adalah akun yang dimiliki oleh Pembeli setelah melakukan proses registrasi pada Platform
        EONITE.
      </li>
      <li class="text-justify">
        <b>Transaksi</b> adalah aktivitas jual beli atas Produk, antara Pembeli dan Vendor melalui Platform EONITE.
      </li>
      <li class="text-justify">
        <b>Informasi Rahasia</b> adalah informasi yang diberikan oleh EONITE, atau informasi lain yang Vendor dapatkan
        sehubungan dengan Penggunaan Platform EONITE, termasuk namun tidak terbatas pada, Biaya, informasi komersial,
        kontraktual, keuangan, rahasia perdagangan, ide, konsep, teknologi, desain, spesifikasi, data diagram, informasi
        teknis lainnya, dalam bentuk apapun.
      </li>
      <li class="text-justify">
        <b>Informasi Registrasi</b> adalah data-data yang di dalam nya terdapat Login ID, password, e-mail, nomor
        telepon dan informasi-informasi lainnya sehubungan dengan Akun Pembeli pada saat melakukan registrasi pada
        Platform EONITE.
      </li>
    </ul>

    <div class="text-lg text-center"><strong>PRODUK</strong></div>
    <p class="text-justify">
      Pembeli dapat menemukan berbagai jenis barang dan/atau jasa pada halaman Product yang ditawarkan oleh Vendor
      teregistrasi sehingga memudahkan Pembeli untuk mencari dan melakukan Transaksi pembelian barang dan/atau jasa yang
      sesuai dengan kebutuhan, termasuk namun tidak terbatas pada:
      <i>wedding organizer, birthday party, gathering/outbound,
        seminar/conference, holiday/travel, group meal/fasting event,
        engagement, shop grand opening, photography and videography services,
        room decoration, cake, catering, fashion, hair and make-up styling,
        entertainment and music, event venues, flower arrangements, souvenirs
        and invitations, exhibitions/exhibitions, religious events, graduations,
        and concerts</i>
      (selanjutnya disebut sebagai <b>“Produk”</b>).
    </p>

    <div class="text-lg text-center"><strong>KETENTUAN PEMBELI</strong></div>
    <ol class="ml-4">
      <li class="text-justify">
        Pembeli memahami dan menyetujui dengan menggunakan platform EONITE menyatakan bahwa Pembeli merupakan orang yang
        cakap dan mampu untuk mengikatkan dirinya dalam sebuah perjanjian yang sah menurut hukum.
      </li>
      <li class="text-justify">
        Pengguna yang bertindak sebagai Vendor dianggap telah membaca, menyetujui dan memahami isi seluruhnya dari
        Syarat dan Ketentuan Vendor.
      </li>
      <li class="text-justify">
        Pembeli memahami dan menyetujui bahwa Pembeli wajib melakukan verifikasi melalui email yang aktif dan terdaftar
        untuk menggunakan platform EONITE. Setiap akun Pembeli hanya dapat memiliki 1 email terverifikasi, dan hanya
        email tersebut yang dapat menerima kode verifikasi atau One-time Password (OTP) dan tindakan lainnya yang
        berhubungan dengan akun milik Pembeli.
      </li>
      <li class="text-justify">
        EONITE tanpa pemberitahuan terlebih dahulu kepada Pembeli, memiliki kewenangan untuk melakukan tindakan yang
        perlu atas setiap dugaan pelanggaran atau pelanggaran Syarat dan Ketentuan dan/atau peraturan hukum yang
        berlaku, yakni tindakan berupa moderasi akun, penutupan akun, pembatalan listing, suspensi akun, dan/atau
        penghapusan akun Pembeli.
      </li>
      <li class="text-justify">
        Pembeli memahami dan menyetujui bahwa, Pembeli bertanggung jawab atas kerahasiaan berupa password, email dan
        informasi-informasi lainnya sehubungan dengan Akun Pembeli (“Informasi Registrasi”).
      </li>
      <li class="text-justify">
        Apabila Pembeli menyadari adanya akses ilegal terhadap akun milik Pembeli, atau adanya penyalahgunaan terhadap
        Informasi Registrasi, Pembeli dapat memberitahukan kepada EONITE melalui email di appeonite@gmail.com. Untuk
        menghindari keragu-raguan, pemberitahuan tersebut tidak membuat EONITE bertanggung jawab atas segala bentuk
        penyalahgunaan Informasi Registrasi atau akses ilegal terhadap akun milik Pembeli.
      </li>
    </ol>

    <div class="text-lg text-center"><strong>TRANSAKSI PEMBELIAN </strong></div>
    <ol class="ml-4">
      <li class="text-justify">
        Pembeli memahami dan menyetujui bahwa wajib melakukan transaksi melalui metode pembayaran yang telah ditetapkan
        oleh platform EONITE. Pembeli melakukan pembayaran dengan mentransfer ke rekening resmi EONITE terlebih dahulu,
        dan kemudian EONITE akan meneruskan dana ke pihak Vendor apabila tahapan transaksi jual beli pada EONITE telah
        selesai.
      </li>
      <li class="text-justify">
        Pembeli dalam melakukan pembelian Produk memahami dan menyetujui bahwa Pembeli bertanggung jawab untuk membaca,
        memahami, dan menyetujui segala informasi atau deskripsi keseluruhan Produk, termasuk namun tidak terbatas pada
        warna, kualitas, fungsi, dan/atau ukuran Produk sebelum membuat tawaran atau komitmen untuk membeli.
      </li>
      <li class="text-justify">
        Pembeli memahami dan menyetujui bahwa warna sebenarnya dari produk sebagaimana terlihat pada platform EONITE
        tergantung pada monitor komputer Pembeli. EONITE telah melakukan upaya terbaik untuk memastikan warna dalam
        foto-foto yang ditampilkan pada platform EONITE muncul seakurat mungkin, tetapi tidak dapat menjamin bahwa
        penampilan warna pada platform EONITE akan akurat.
      </li>
      <li class="text-justify">
        EONITE tidak mengalihkan kepemilikan secara hukum atas barang-barang dari Vendor kepada Pembeli, maka Pembeli
        memahami dan menyetujui bahwa ketersediaan stok Produk sepenuhnya merupakan tanggung jawab Vendor. Namun terkait
        ketersediaan stok Produk pada EONITE dapat berubah sewaktu-waktu, sehingga dalam keadaan stok Produk
        kosong/tidak dapat disewa, maka Vendor akan menolak order, dan pembayaran atas barang yang bersangkutan akan
        dikembalikan seluruhnya kepada Pembeli.
      </li>
      <li class="text-justify">
        Pembeli memahami dan menyetujui bahwa segala transaksi yang dilakukan antara Pembeli dan Vendor selain melalui
        metode yang telah ditentukan EONITE atau Rekening Resmi EONITE dan/atau tanpa sepengetahuan EONITE, termasuk
        namun tidak terbatas pada fasilitas atau jaringan pribadi, pengiriman pesan, pengaturan transaksi khusus diluar
        platform EONITE sepenuhnya merupakan tanggung jawab pribadi dari Pembeli dan Vendor.
      </li>
      <li class="text-justify">
        EONITE memiliki kewenangan sepenuhnya untuk membatalkan konfirmasi pembayaran tanpa pemberitahuan terlebih
        dahulu.
      </li>
      <li class="text-justify">
        Pembayaran oleh Pembeli wajib dilakukan segera, selambat-lambatnya dalam batas waktu 1 (satu) hari setelah
        Pembeli melakukan check-out. Jika dalam batas waktu tersebut pembayaran belum
        diselesaikan oleh Pembeli, maka EONITE memiliki kewenangan untuk membatalkan transaksi tersebut.
      </li>
      <li class="text-justify">
        Pembeli memahami dan menyetujui bahwa tidak memberitahukan atau menyerahkan bukti pembayaran dan/atau data
        pembayaran kepada pihak lain selain EONITE. Jika terjadi kerugian akibat pemberitahuan atau penyerahan bukti
        pembayaran dan/atau data pembayaran oleh Pembeli kepada pihak lain, maka hal tersebut sepenuhnya akan menjadi
        tanggung jawab pribadi oleh Pembeli.
      </li>
      <li class="text-justify">
        Dana dari transaksi yang dilakukan oleh Pembeli yang dikirimkan ke Rekening resmi EONITE akan lanjut dikirimkan
        ke pihak Vendor pada saat status transaksi telah selesai .Apabila terjadi kendala Transaksi termasuk namun tidak
        terbatas pada pembatalan yang dilakukan oleh Pembeli, maka down payment dan/atau pembayaran yang telah
        dibayarkan tidak dapat dikembalikan kepada Pembeli, kecuali telah terdapat persetujuan secara tertulis antara
        Pembeli, Vendor dan EONITE yang dimana EONITE akan tetap membayarkan kepada Vendor sesuai dengan jumlah yang
        telah dibayarkan oleh Pembeli, dikurangi Service Fee sebagaimana yang telah disepakati antara Vendor dengan
        pihak EONITE .
      </li>
      <li class="text-justify">
        Pembeli memahami dan menyetujui bahwa dalam pemesanan, Pembeli sudah tidak dapat melakukan penjadwalan ulang
        atau perubahan tanggal. Pembeli dapat membatalkan transaksi dan melakukan pemesanan ulang.
      </li>
    </ol>

    <div class="text-lg text-center"><strong>PEMBAYARAN EONITE</strong></div>
    <p class="text-justify">
      Pembeli sepakat bahwa Transaksi akan dilakukan dengan tata cara yang telah ditentukan oleh EONITE sebagai berikut:
    </p>
    <ol class="ml-4">
      <li class="text-justify">
        Pembeli melakukan login ke Platform EONITE untuk menemukan Vendor yang menawarkan Produk sesuai dengan kebutuhan
        Pembeli.
      </li>
      <li class="text-justify">
        Setelah Pembeli menemukan Vendor yang dibutuhkan maka Pembeli dapat melakukan booking produk yang akan dipilih
        dan transaksi akan dibuat.
      </li>
      <li class="text-justify">
        Pembeli sepakat bahwa pembayaran akan dilakukan melalui metode transfer rekening resmi EONITE, dengan ketentuan
        sebagai berikut:
        <ul class="ml-4">
          <li class="text-justify">
            Pembeli melakukan transfer ke rekening resmi EONITE yang tertera pada halaman pembayaran dengan jumlah yang
            sesuai invoice. Selanjutnya, sistem EONITE akan melakukan konfirmasi terhadap pembayaran, dan apabila status
            pembayaran berhasil, maka EONITE akan mengirimkan pemberitahuan melalui email dalam bentuk tanda terima
            pembayaran.
          </li>
          <li class="text-justify">
            Apabila sampai dengan batas waktu yang ditentukan Pembeli tidak melakukan pembayaran, maka pembayaran akan
            dinyatakan kadaluarsa, dan Pembeli akan diberikan pemberitahuan melalui email berupa salinan invoice dengan
            status kadaluarsa disertai dengan tanggal dan alasan kadaluarsa.
          </li>
          <li class="text-justify">
            Apabila pembayaran Pembeli ditolak, maka sistem EONITE akan mengirimkan pemberitahuan melalui email berupa
            salinan invoice dengan status ditolak disertai dengan tanggal dan alasan penolakan.
          </li>
        </ul>
      </li>
    </ol>

    <div class="text-lg text-center mt-2">
      <strong>PEMBATALAN TRANSAKSI</strong>
    </div>
    <p class="text-justify">
      Dengan melakukan transaksi pada platform EONITE, pembeli maupun vendor sudah menyetujui ketentuan yang berlaku
      dimana:
    </p>
    <ol class="ml-4">
      <li class="text-justify">
        Jika pembeli akan melakukan pembatalan saat status transaksi masih ‘Menunggu Konfirmasi’ dan ‘Menunggu
        Pembayaran’, transaksi akan langsung dibatalkan tanpa pengembalian dana baik ke pembeli maupun ke vendor.
      </li>
      <li class="text-justify">
        Jika pembeli akan melakukan pembatalan saat status transaksi sudah ‘Sedang Berlangsung’, maka transaksi
        dibatalkan dengan melihat ketentuan sebagai berikut:
        <ol class="ml-4">
          <li class="text-justify">
            Jika tanggal transaksi dibatalkan dengan tanggal pemesanan produk yang paling dekat memiliki rentang lebih
            dari sama dengan 15 hari, maka EONITE akan mengembalikan dana 100% kepada pembeli;
          </li>
          <li class="text-justify">
            Jika tanggal transaksi dibatalkan dengan tanggal pemesanan produk yang paling dekat memiliki rentang lebih
            dari 7 hari dan kurang dari sama dengan 14 hari, maka EONITE akan mengembalikan dana 50% kepada pembeli dan
            memberikan pembayaran kepada vendor sebesar 50%;
          </li>
          <li class="text-justify">
            Jika tanggal transaksi dibatalkan dengan tanggal pemesanan produk yang paling dekat memiliki rentang lebih
            dari 3 hari dan kurang dari sama dengan 7 hari, maka EONITE akan mengembalikan dana 25% kepada pembeli dan
            memberikan pembayaran kepada vendor sebesar 75%;
          </li>
          <li class="text-justify">
            Jika tanggal transaksi dibatalkan dengan tanggal pemesanan produk yang paling dekat memiliki rentang kurang
            dari sama dengan 3 hari, maka EONITE tidak mengembalikan dana kepada pembeli dan memberikan pembayaran
            kepada vendor sebesar 100%;
          </li>
        </ol>
      </li>
      <li class="text-justify">
        Jika vendor akan melakukan pembatalan saat status transaksi sudah ‘Sedang Berlangsung’, maka transaksi
        dibatalkan dengan mengembalikan dana 100% kepada pembeli;
      </li>
    </ol>

    <div class="text-lg text-center mt-2"><strong>PENGEMBALIAN DANA PEMBELI</strong></div>
    <p class="text-justify">
      EONITE akan melakukan pengembalian dana kepada pembeli melalui metode transfer dari rekening resmi EONITE ke
      rekening pembeli yang sebelumnya sudah didaftarkan. Admin EONITE akan mengupload bukti pembayaran yang dapat
      dilihat pada
      <b>fitur Refund</b> dan mengirimkan email jika pengembalian dana sudah selesai dilakukan.
    </p>

    <div class="text-lg text-center mt-2"><strong>PEMBAYARAN VENDOR</strong></div>
    <p class="text-justify">
      EONITE akan melakukan pembayaran dana kepada vendor melalui metode transfer dari rekening resmi EONITE ke rekening
      vendor sesuai informasi profile vendor yang sudah didaftarkan. Admin EONITE akan mengupload bukti pembayaran yang
      dapat dilihat pada <b>fitur Payment</b> dan mengirimkan email jika pengembalian dana sudah selesai dilakukan.
    </p>

    <div class="text-lg text-center mt-2">
      <strong>PELEPASAN TANGGUNG JAWAB</strong>
    </div>
    <ol class="ml-4">
      <li class="text-justify">
        Pembeli memahami dan menyetujui bahwa Transaksi adalah hubungan antara Pembeli dengan Vendor. EONITE hanya
        berkewajiban untuk menyediakan platform dan menyediakan layanan kepada Pembeli EONITE sebaik mungkin untuk
        memudahkan Transaksi. Oleh Karena itu, Pembeli membebaskan EONITE dari segala bentuk tanggung jawab terhadap
        seluruh atau sebagian kerugian atau hilangnya keuntungan yang dialami oleh Vendor, maupun Pembeli yang timbul
        dari, atau sehubungan dengan Transaksi.
      </li>
      <li class="text-justify">
        Pembeli memahami dan menyetujui bahwa jika Pembeli mengalami perselisihan dengan satu atau lebih Pembeli lainnya
        atau Vendor, Pembeli melepaskan EONITE dari klaim dan/atau tuntutan atas kerusakan dan/atau kerugian (akibat dan
        tersirat) dari setiap jenis dan/atau sifatnya, yang dikenal dan/atau tidak dikenal, yang timbul dari atau dengan
        cara apapun berhubungan dengan sengketa tersebut, termasuk namun tidak terbatas pada kerugian yang timbul dari
        penyediaan barang atau jasa yang dilarang dan/atau kendala pada Transaksi. Dengan demikian maka Pembeli dengan
        ini melepaskan segala perlindungan hukum (yang terdapat dalam undang-undang atau peraturan hukum yang berlaku)
        yang akan membatasi cakupan ketentuan pelepasan ini.
      </li>
      <li class="text-justify">
        Pembeli memahami dan menyetujui bahwa segala sesuatu yang terkait dengan platform EONITE , disediakan kepada
        Pembeli “sebagaimana adanya” dan “sebagaimana tersedia”. EONITE tidak membuat pernyataan dan jaminan atas konten
        atau pengoperasian EONITE , maka penggunaan layanan EONITE adalah merupakan risiko dan tanggung jawab Pembeli
        sendiri.
      </li>
      <li class="text-justify">
        EONITE tidak membuat pernyataan dan jaminan dalam bentuk apapun tentang kondisi, akurasi, keandalan, kelengkapan
        baik konten maupun layanan EONITE , serta tidak membuat pernyataan dan jaminan bahwa platform EONITE adalah
        platform yang sempurna. Sangat dimungkinkan untuk terjadinya gangguan, kesalahan, kekeliruan, infeksi virus atau
        kode atau program komputer yang berjalan secara otomatis, yang mengandung sifat merusak atau yang dimaksudkan
        untuk merusak, mencegah dan mengambil alih sistem, data atau informasi pribadi Pembeli yang terdapat dalam
        platform EONITE .
      </li>
      <li class="text-justify">
        EONITE tidak bertanggungjawab atas layanan apapun yang Vendor berikan kepada Pembeli, dan atas tindakan ilegal
        apapun yang dilakukan oleh Vendor. Pembeli dilarang menyatakan, atau menyebabkan pihak manapun memahami bahwa
        EONITE adalah agen, atau perwakilan dari Vendor. Seluruh kegiatan adalah tergantung pada Vendor untuk menawarkan
        Produk kepada Pembeli dan tergantung pada Pembeli apakah akan menerima tawaran Produk dari Vendor.
      </li>
      <li class="text-justify">
        Dalam mengelola dan memberikan layanan melalui Platform EONITE , EONITE senantiasa menjaga keamanan
        informasi-informasi yang diberikan oleh Pembeli dengan menerapkan sistem pengamanan yang seoptimal mungkin.
      </li>
      <li class="text-justify">
        Namun perlu untuk diketahui bahwa, sangat dimungkinkan untuk terjadinya kehilangan atau kebocoran yang
        diakibatkan perolehan secara ilegal oleh pihak lain. Dengan demikian EONITE tidak menyatakan dan menjamin bahwa
        Platform EONITE terbebas dari ancaman kehilangan atau kebocoran informasi yang diakibatkan oleh pihak lain yang
        mana hal tersebut juga dialami oleh semua Pembeli internet, termasuk namun tidak terbatas pada: (i) carding;
        (ii) cracking; (iii) phising; (iv) malware; atau (v) hal-hal lainnya, yang ditujukan baik kepada Platform EONITE
        maupun infrastruktur pendukungnya. Oleh karena itu, Pembeli dengan ini menyatakan bahwa Pembeli telah memahami
        risiko-risiko yang mungkin timbul terkait dengan hal tersebut dan melepaskan EONITE dari segala bentuk tanggung
        jawab terhadap seluruh atau sebagian dari kerugian atau hilangnya keuntungan Pembeli sehubungan dengan kebocoran
        informasi-informasi yang diakibatkan perolehan secara ilegal oleh pihak lain atau yang diakibatkan oleh
        gangguan, kesalahan, kekeliruan ataupun infeksi virus dalam Platform EONITE .
      </li>
      <li class="text-justify">
        Dalam penggunaan Platform EONITE , Pembeli menyatakan dan menjamin bahwa Pembeli adalah pemilik dari
        informasi-informasi yang diberikan kepada EONITE dan/atau informasi-informasi yang diunggah ke dalam Platform
        EONITE . Oleh karena itu Pembeli membebaskan EONITE dari segala bentuk tanggung jawab yang timbul sehubungan
        dengan adanya klaim atau tuntutan dari pihak lain yang berasal dari dan/atau terkait dengan informasi-informasi
        yang Pembeli berikan.
      </li>
    </ol>

    <div class="text-lg text-center mt-2"><strong>KERAHASIAAN</strong></div>
    <p class="text-justify">
      Dalam menggunakan Platform EONITE, Pembeli berkewajiban untuk menjaga kerahasiaan dari informasi-informasi yang
      diberikan oleh EONITE kepada Pembeli, atau informasi-informasi lain yang didapat oleh Pembeli sehubungan dengan
      penggunaan Platform EONITE, termasuk namun tidak terbatas pada, informasi komersial, kontraktual, keuangan,
      rahasia perdagangan, ide, konsep, teknologi, desain, spesifikasi, data diagram, informasi teknis lainnya, dalam
      bentuk apapun (“Informasi Rahasia”). Kewajiban untuk menjaga kerahasiaan dari Informasi Rahasia berlaku sejak
      Pembeli melakukan pendaftaran akun EONITE, dan akan terus berlaku walaupun Pembeli telah mengakhiri hubungan
      dengan EONITE melalui Penutupan Akun Pembeli, dengan pengecualian bahwa kewajiban untuk menjaga kerahasian
      Informasi Rahasia tidak berlaku terhadap:
    </p>
    <ul class="ml-4">
      <li class="text-justify">
        data atau informasi yang sejak semula telah berada dalam penguasaan Pembeli yang dibuktikan dengan adanya
        catatan tertulis;
      </li>
      <li class="text-justify">
        data atau informasi yang secara eksplisit dinyatakan oleh EONITE sebagai data atau informasi yang dapat
        diungkapkan kepada pihak lain;
      </li>
      <li class="text-justify">
        data atau informasi yang telah mendapat persetujuan EONITE untuk diungkapkan kepada pihak lain;
      </li>
      <li class="text-justify">
        data atau informasi yang telah diungkapkan oleh EONITE kepada publik;
      </li>
      <li class="text-justify">
        data atau informasi yang berdasarkan peraturan perundang-undangan, perintah atau putusan pengadilan, aturan atau
        peraturan suatu badan regulator diwajibkan untuk diungkapkan.
      </li>
    </ul>
    <p class="text-justify">
      Apabila Pembeli melanggar kewajiban untuk menjaga kerahasiaan dari Informasi Rahasia, sehingga menyebabkan
      timbulnya hal-hal sebagai berikut:
    </p>
    <ul class="ml-4">
      <li class="text-justify">pengungkapan Informasi Rahasia;</li>
      <li class="text-justify">
        pencurian, penipuan, dan/atau penyalahgunaan sehubungan dengan aset-aset EONITE;
      </li>
      <li class="text-justify">
        pernyataan yang salah atau pernyataan palsu mengenai EONITE;
      </li>
      <li class="text-justify">
        penghinaan atau pengancaman dari pihak manapun kepada EONITE atau para pekerja EONITE;
      </li>
      <li class="text-justify">
        hal-hal lain yang merugikan EONITE dalam bentuk apapun:
        <ul class="ml-4">
          <li class="text-justify">
            maka Pembeli bertanggung jawab secara penuh untuk melaksanakan ganti rugi atas seluruh kerugian dan/atau
            hilangnya keuntungan EONITE dan/atau mitra-mitra bisnis EONITE yang timbul dari, atau sehubungan dengan,
            pelanggaran atas kewajiban Pembeli untuk menjaga kerahasiaan dari Informasi Rahasia.
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
<app-footer></app-footer>
