<div class="relative bg-white px-3 sm:px-0 pb-3 pt-2 rounded-lg">
  <button (click)="onNoClick()" type="button" class="text-gray-400 absolute top-2.5 right-2.5 bg-transparent hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" data-modal-toggle="deleteModal">
    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    <span class="sr-only">Close modal</span>
  </button>
  <div class="sm:flex sm:items-start">
    <div class="max-w-2xl mx-auto px-3 sm:px-6 w-[300px] sm:w-[1000px]">
      <h2 class="mb-4 text-xl font-bold text-gray-900 ">Tambah Produk</h2>
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" [checked]="available" [(ngModel)]="available" class="sr-only peer">
        <div class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:bg-indigo-600"></div>
        <span class="ms-3 text-sm font-medium text-gray-900">Aktifkan toggle ini jika produk tersedia dan dapat dipesan </span>
      </label>
      <form [formGroup]="Form1">
          <div class="grid gap-4 mb-4 sm:grid-cols-2 sm:gap-6 sm:mb-5">
              <div class="col-span-full">
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nama Produk</label>
                  <input type="text"
                        formControlName="name"
                        class="form-control"
                        placeholder="Masukkan Nama Produk"
                        minlength="1" maxlength="50"
                        [ngClass]="{'border-b-1 border-red-400': name.invalid && (name.dirty || name.touched) && name.errors?.['required']}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                    <div *ngIf="name.errors?.['required']" class="text-xs text-red-400">
                      * Wajib diisi
                    </div>
                  </div>
              </div>
              <div class="w-full">
                  <label for="price" class="block mb-2 text-sm font-medium text-gray-900">Harga</label>
                  <input type="number"
                        formControlName="price"
                        class="form-control"
                        placeholder="Masukkan Harga"
                        minlength="1" maxlength="50"
                        [ngClass]="{'border-b-1 border-red-400': price.invalid && (price.dirty || price.touched) && price.errors?.['required']}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                  <div *ngIf="price.invalid && (price.dirty || price.touched)" class="invalid-feedback">
                    <div *ngIf="price.errors?.['required']" class="text-xs text-red-400">
                      * Wajib diisi
                    </div>
                  </div>
              </div>
              <div>
                  <label for="item-weight" class="block mb-2 text-sm font-medium text-gray-900">Kapasitas</label>
                  <input type="number"
                        formControlName="capacity"
                        class="form-control"
                        placeholder="Masukkan kapasitas"
                        minlength="1" maxlength="50"
                        [ngClass]="{'border-b-1 border-red-400': capacity.invalid && (capacity.dirty || capacity.touched) && capacity.errors?.['required']}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Enter Product Name">
                  <div *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)" class="invalid-feedback">
                    <div *ngIf="capacity.errors?.['required']" class="text-xs text-red-400">
                      * Wajib diisi
                    </div>
                  </div>
              </div>
              <div class="w-full">
                <label for="max" class="block mb-2 text-sm font-medium text-gray-900">Maksimal Pilihan Tanggal Booking</label>
                <input type="number"
                      formControlName="max"
                      class="form-control"
                      placeholder="Masukkan maksimal pilihan tanggal"
                      minlength="1" maxlength="5"
                      [ngClass]="{'border-b-1 border-red-400': max.invalid && (max.dirty || max.touched) && max.errors?.['required']}"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5">
                <div *ngIf="max.invalid && (max.dirty || max.touched)" class="invalid-feedback">
                  <div *ngIf="max.errors?.['required']" class="text-xs text-red-400">
                    * Wajib diisi
                  </div>
                </div>
              </div>
              <div class="w-full">
                <label for="category" class="block text-sm font-medium leading-6 text-gray-900">Kategori</label>
                <mat-form-field>
                  <mat-select formControlName="categoryid"
                              class="mt-1 block w-full rounded-md border py-1.5 text-gray-900 shadow-sm placeholder:text-gray-400 border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 sm:text-sm sm:leading-6"
                              [ngClass]="{'redborder border-b-1 border-red-400': categoryid.invalid && (categoryid.dirty || categoryid.touched)}">
                              <mat-option *ngFor="let i of category" [value]="i.subcategory.id">{{ i.subcategory.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div *ngIf="categoryid.invalid && (categoryid.dirty || categoryid.touched)" class="invalid-feedback">
                  <div *ngIf="categoryid.errors?.['required']" class="text-xs text-red-400">
                   * Wajib diisi
                  </div>
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Foto Produk</label>
                <div class="flex items-center justify-center w-full">
                  <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-20 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50">
                      <div class="flex flex-col items-center justify-center pt-5 pb-6">
                          <svg class="w-5 h-5 mb-1 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                          </svg>
                          <p class="mb-1 text-sm text-gray-500"><span class="font-semibold">Klik untuk mengunggah</span></p>
                          <p class="text-xs text-gray-500">PNG, JPG, JPEG(MAX. 10MB)</p>
                      </div>
                      <input id="dropzone-file" accept="image/*" class="hidden" type="file" #filePicker (change)="onImagePicked($event)" />

                  </label>
                </div>
                <div class="grid grid-cols-4 md:grid-cols-5 gap-3 mt-2" >
                  <div class="relative w-full" *ngFor="let img of base64ImgArray; let i = index">
                    <button class="block absolute" style="right: 0;" *ngIf="base64ImgArray.length > 0" (click)="removeImage(i)">
                      <svg class="h-3 w-3 bg-gray-100 rounded-md" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>
                    </button>
                    <img class="w-30 h-30 rounded-md"
                      [src]="img"
                      alt="form.value.memberName"
                    />
                  </div>
                  <div class="w-[500px] text-xs text-red-600" *ngIf="imageError != ''">{{ imageError }}</div>
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Deskripsi</label>
                <textarea
                      formControlName="description"
                      class="form-control"
                      minlength="1" maxlength="1000"
                      [ngClass]="{'border-b-1 border-red-400': description.invalid && (description.dirty || description.touched) && description.errors?.['required']}"
                      rows="8"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500" placeholder="Tulis deskripsi produk di sini..."></textarea>
                <div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
                  <div *ngIf="description.errors?.['required']" class="text-xs text-red-400">
                    * Wajib diisi
                  </div>
                </div>
              </div>
          </div>
          <div class="flex items-center space-x-4 justify-center">
              <button (click)="onSubmit()" type="submit" class="text-white bg-[#5c06e4] hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
                  Tambah produk
              </button>
          </div>
      </form>
    </div>
  </div>
</div>
