<app-navbar></app-navbar>
<div class="w-full flex justify-center">
  <div class="absolute inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
    <div class="relative -z-10 left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <div class="w-[80%] sm:w-[70%]">
    <div class="container shadow-lg rounded-lg">
      <div class="flex flex-row justify-between bg-white">
        <div class="flex flex-col max-h-[350px] sm:max-h-[650px]">
          <div class="border-b-2 py-4 px-2 m-1 hidden sm:block font-semibold text-[#5C06E4] text-md text-center">
            List Chat
          </div>
          <div class="flex flex-col border-r-2 overflow-y-auto" *ngIf="userType =='VENDOR'">
            <div *ngFor="let i of chatRoom">
              <button (click)="findMessages(i)" [ngClass]="isActive(i.chatId)?'border-l-4 border-[#5C06E4]':''" class="flex flex-row w-full py-4 px-2 justify-between items-center border-b-2 hover:bg-gray-200 hover:cursor-pointer">
                <div class="flex flex-row">
                  <div class="w-10 sm:w-14 relative">
                    <img
                      src="{{'data:image/jpg;base64,' + i?.userPhoto}}"
                      class="object-cover h-10 sm:h-12 w-10 sm:w-12 rounded-full"/>
                    <div *ngIf="i.notification >0 && i.recType == 'VENDOR'" class="rounded-full bg-[#5C06E4] w-[20px] sm:w-[25px] h-[20px] sm:h-[25px] bottom-[25px] left-[18px] sm:bottom-[35px] sm:left-[20px] ml-2 absolute flex items-center justify-center">
                      <div class="text-white text-[10px] sm:text-xs font-semibold">{{ i.notification }}</div>
                    </div>
                  </div>
                  <div class="ml-3 flex flex-col hidden sm:block">
                    <div class="text-lg font-medium text-left">{{ i.userfirstName }} {{ i.userlastName }}</div>
                    <div class="text-gray-500 text-left truncate inline-block max-w-[150px] w-full" [ngClass]="(i.notification >0 && i.recType == 'VENDOR')?'font-medium text-black':''">{{ i.lastText }}</div>
                  </div>
                </div>
              </button>
            </div>
            <div *ngIf="chatRoom.length == 0" class="text-center mt-2 text-sm text-[#5C06E4]">
              There is no conversation list
            </div>
          </div>
          <div class="flex flex-col border-r-2 overflow-y-auto" *ngIf="userType =='USER'">
            <div *ngFor="let i of chatRoom">
              <button (click)="findMessages(i)" [ngClass]="isActive(i.chatId)?'border-l-4 border-[#5C06E4]':''" class="flex flex-row w-full py-4 px-2 justify-between items-center border-b-2 hover:bg-gray-200 hover:cursor-pointer">
                <div class="flex flex-row w-full">
                  <div class="w-10 sm:w-14 relative">
                    <img
                      src="{{'data:image/jpg;base64,' + i?.vendorPhoto}}"
                      class="object-cover h-10 sm:h-12 w-10 sm:w-12 rounded-full"/>
                    <div *ngIf="i.notification >0 && i.recType == 'USER'" class="rounded-full bg-[#5C06E4] w-[20px] sm:w-[25px] h-[20px] sm:h-[25px] bottom-[25px] left-[18px] sm:bottom-[35px] sm:left-[20px] ml-2 absolute flex items-center justify-center">
                      <div class="text-white text-[10px] sm:text-xs font-semibold">{{ i.notification }}</div>
                    </div>
                  </div>
                  <div class="ml-3 flex flex-col hidden sm:block">
                    <div class="text-lg font-medium text-left">{{ i.vendorName }}</div>
                    <span class="text-gray-500 text-left truncate inline-block max-w-[150px] w-full" [ngClass]="(i.notification >0 && i.recType == 'USER')?'font-medium text-black':''">{{ i.lastText }}</span>
                  </div>
                </div>
              </button>
            </div>
            <div *ngIf="chatRoom.length == 0" class="text-center mt-2 text-sm text-[#5C06E4]">
              There is no conversation list
            </div>
          </div>
        </div>
        <!-- CHAT  -->
        <div *ngIf="activeMessage" class="flex-1 p-2 sm:p-6 justify-between flex flex-col max-h-[350px] sm:max-h-[650px] min-h-[500px] sm:min-h-[650px]">
          <div class="flex sm:items-center justify-between py-1 border-b-2 border-gray-200">
            <div class="relative flex items-center space-x-4">
                <div class="flex flex-row leading-tight items-center">
                  <img *ngIf="userType == 'VENDOR'"
                      src="{{'data:image/jpg;base64,' + chatRoomId?.userPhoto}}"
                      class="object-cover h-8 sm:h-10 w-8 sm:w-10 rounded-full"/>
                  <img *ngIf="userType == 'USER'"
                      src="{{'data:image/jpg;base64,' + chatRoomId?.vendorPhoto}}"
                      class="object-cover h-8 sm:h-10 w-8 sm:w-10 rounded-full"/>
                  <div *ngIf="userType == 'VENDOR'" class="ml-1 text-lg sm:text-2xl mt-1 flex items-center">
                      <span class="text-gray-700 mr-3">{{ chatRoomId?.userfirstName }} {{ chatRoomId?.userlastName }}</span>
                  </div>
                  <div *ngIf="userType == 'USER'" class="ml-1 text-lg sm:text-2xl mt-1 flex items-center">
                    <span class="text-gray-700 mr-3">{{ chatRoomId?.vendorName }}</span>
                  </div>
                </div>
            </div>
            <div class="flex items-center space-x-2">
                <button (click)="deleteRoom()" type="button" class="inline-flex items-center justify-center rounded-lg border h-8 w-8 sm:h-10 sm:w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                  <svg class="w-6 h-6 mx-auto" aria-hidden="true" fill="gray" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
          </div>
          <div id="messages" class="relative h-full flex flex-col-reverse space-y-4 p-3 overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
            <div class="chat-message">
              <div *ngFor="let message of messages">
                <div class="flex items-end mt-1" [ngClass]="message.senderType == userType?'justify-end':''">
                  <div class="space-y-2 text-xs max-w-md mx-2 order-2">
                      <div class="flex flex-col" [ngClass]="message.senderType == userType?'items-end':'items-start'">
                        <div class="px-4 py-2 rounded-lg inline-block " [ngClass]="message.senderType == userType?'bg-[#5C06E4] text-white rounded-br-none':'bg-gray-300 text-gray-600 rounded-bl-none'">
                          {{ message.content }}
                        </div>
                        <div class="text-[10px] font-normal flex mt-1 items-center">{{ changeDate(message.timestamp) }}</div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="border-t-2 border-gray-200 px-4 pt-4 mb-2 sm:mb-0">
            <div class="relative flex">
                <input type="text" [(ngModel)]="newmessage" placeholder="Write your message!" class="w-full border-gray-200 focus:outline-none focus:placeholder-gray-400 text-gray-600 placeholder-gray-600 bg-gray-100 rounded-md py-3">
                <div class="absolute right-0 items-center inset-y-0 flex">
                  <!-- <button type="button" class="inline-flex hidden sm:block items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-gray-600">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.172 7l-6.586 6.586a2 2 0 102.828 2.828l6.414-6.586a4 4 0 00-5.656-5.656l-6.415 6.585a6 6 0 108.486 8.486L20.5 13"></path>
                      </svg>
                  </button> -->
                  <!-- <button type="button" class="inline-flex items-center justify-center rounded-full h-10 w-10 transition duration-500 ease-in-out text-gray-500 hover:bg-gray-300 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 text-gray-600">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 9a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 0110.07 4h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0018.07 7H19a2 2 0 012 2v9a2 2 0 01-2 2H5a2 2 0 01-2-2V9z"></path>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 13a3 3 0 11-6 0 3 3 0 016 0z"></path>
                      </svg>
                  </button> -->
                  <button (click)="sendMessage()" type="button" class="inline-flex items-center justify-center rounded-md px-4 py-3 transition duration-500 ease-in-out text-white bg-[#5C06E4] hover:bg-indigo-500 focus:outline-none">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-6 w-6 transform rotate-90">
                        <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z"></path>
                      </svg>
                  </button>
                </div>
            </div>
          </div>
        </div>
        <div *ngIf="!activeMessage" class="flex-1 p-2 sm:p-6 justify-center text-[#5C06E4] font-medium text-[15px] items-center flex flex-col max-h-[350px] sm:max-h-[650px] min-h-[500px] sm:min-h-[650px]">
          <img src="../assets/icon/communication.png" class="w-20 h-20">
          No conversations selected
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
