::ng-deep mat-form-field {
  width: 100%!important;
}

::ng-deep .mat-calendar-body-cell.selected > .mat-calendar-body-cell-content,
::ng-deep .mat-calendar-body-cell.selected:hover > .mat-calendar-body-cell-content,
::ng-deep .mat-calendar-body-cell.selected > .mat-calendar-body-cell-content:hover {
  background-color: #673ab7 !important;
  color: #fff !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
