<div class="mt-1 sm:mx-auto w-[300px] sm:w-[400px] md:w-[500px]">
  <div class="w-full justify-center text-lg font-semibold text-center">
    Ubah Kata Sandi
  </div>
  <form class="space-y-2" [formGroup]="Form1">
    <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-3 sm:grid-cols-6">
      <div class="col-span-full">
        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Kata Sandi Lama</label>
        <div class="mt-1 relative">
          <input  #Oldpasswords
                  type="password"
                  placeholder="Masukkan Kata Sandi Lama"
                  formControlName="oldpasswords"
                  class="form-control"
                  [ngClass]="{'border-b-1 border-red-400': oldpasswords.invalid && (oldpasswords.dirty || oldpasswords.touched)}"
                  class="block w-full rounded-md border py-1.5 text-gray-900 shadow-sm placeholder:text-gray-400 border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 sm:text-sm sm:leading-6">
          <mat-icon class="absolute inset-y-0 top-2.5 end-3 flex"
            style="cursor: pointer"
            matSuffix
            (mousedown)="Oldpasswords.type = 'text'"
            (mouseup)="Oldpasswords.type = 'password'"
            [inline]="true">
              <div [ngClass]="Oldpasswords.type == 'password'?'hidden':'block'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
              </div>
              <div [ngClass]="Oldpasswords.type == 'password'?'block':'hidden'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                  <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                  <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                </svg>
              </div>
          </mat-icon>
        </div>
        <div *ngIf="oldpasswords.invalid && (oldpasswords.dirty || oldpasswords.touched)" class="invalid-feedback">
          <div *ngIf="oldpasswords.errors?.['required']" class="text-xs text-red-400">
            * Wajib diisi
          </div>
          <div *ngIf="oldpasswords.errors?.['passwordMatch']" class="text-xs text-red-400">
            * Kata sandi salah
          </div>
        </div>
      </div>
      <div class="col-span-full">
        <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Kata Sandi Baru</label>
        <div class="mt-1 relative">
          <input  #Newpasswords
                  type="password"
                  placeholder="Masukkan Kata Sandi Baru"
                  formControlName="newpasswords"
                  class="form-control"
                  [ngClass]="{'border-b-1 border-red-400': newpasswords.invalid && (newpasswords.dirty || newpasswords.touched)}"
                  class="block w-full rounded-md border py-1.5 text-gray-900 shadow-sm placeholder:text-gray-400 border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 sm:text-sm sm:leading-6">
          <mat-icon class="absolute inset-y-0 top-2.5 end-3 flex"
            style="cursor: pointer"
            matSuffix
            (mousedown)="Newpasswords.type = 'text'"
            (mouseup)="Newpasswords.type = 'password'"
            [inline]="true">
              <div [ngClass]="Newpasswords.type == 'password'?'hidden':'block'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
              </div>
              <div [ngClass]="Newpasswords.type == 'password'?'block':'hidden'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                  <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                  <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                </svg>
              </div>
          </mat-icon>
        </div>
        <div *ngIf="newpasswords.invalid && (newpasswords.dirty || newpasswords.touched)" class="invalid-feedback">
          <div *ngIf="newpasswords.errors?.['required']" class="text-xs text-red-400">
            * Wajib diisi
          </div>
          <div *ngIf="newpasswords.errors?.['minlength']" class="text-xs text-red-400">
            * Kolom ini harus memiliki minimal 12 karakter
          </div>
          <div *ngIf="newpasswords.errors?.['pattern']" class="text-xs text-red-400">
            * Harus mengandung Huruf Besar, Huruf Kecil, dan Angka
          </div>
          <div *ngIf="newpasswords.errors?.['passwordSame']" class="text-xs text-red-400">
            * Kata sandi baru tidak boleh sama dengan kata sandi sebelumnya
          </div>
        </div>
      </div>
      <div class="col-span-full">
        <label for="confpassword" class="block text-sm font-medium leading-6 text-gray-900">Konfirmasi Kata Sandi</label>
        <div class="mt-1 relative">
          <input #confpassword1
                  type="password"
                  formControlName="confirmPassword"
                  class="form-control"
                  [ngClass]="{'border-b-1 border-red-400': confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)}"
                  placeholder="Masukkan Konfirmasi Kata Sandi"
                  class="block w-full rounded-md border py-1.5 text-gray-900 shadow-sm placeholder:text-gray-400 border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-200 focus:ring-opacity-50 sm:text-sm sm:leading-6">
          <mat-icon class="absolute inset-y-0 top-2.5 end-3 flex"
            style="cursor: pointer"
            matSuffix
            (mousedown)="confpassword1.type = 'text'"
            (mouseup)="confpassword1.type = 'password'"
            [inline]="true">
              <div [ngClass]="confpassword1.type == 'password'?'hidden':'block'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
              </div>
              <div [ngClass]="confpassword1.type == 'password'?'block':'hidden'">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                  <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
                  <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
                </svg>
              </div>
          </mat-icon>
        </div>
        <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="invalid-feedback">
          <div *ngIf="confirmPassword.errors?.['required']" class="text-xs text-red-400">
            * Wajib diisi
          </div>
          <div *ngIf="confirmPassword.errors?.['passwordMismatch']" class="text-xs text-red-400">
            * Kata sandi tidak cocok
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-3 flex items-center justify-center">
      <button (click)="changePass()" class="w-full mt-2 py-2 font-medium text-white bg-[#5C06E4] hover:bg-indigo-500 rounded-lg border-indigo-500 hover:shadow inline-flex space-x-2 items-center justify-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 5.25a3 3 0 013 3m3 0a6 6 0 01-7.029 5.912c-.563-.097-1.159.026-1.563.43L10.5 17.25H8.25v2.25H6v2.25H2.25v-2.818c0-.597.237-1.17.659-1.591l6.499-6.499c.404-.404.527-1 .43-1.563A6 6 0 1121.75 8.25z" />
          </svg>
          <span>Atur Ulang Kata Sandi</span>
      </button>
    </div>
  </form>
</div>
