<div *ngIf="paging?.length! == 0" class="w-full">
  <div class="w-full flex items-center flex-wrap justify-center gap-10 mt-5">
    <div class="grid gap-4 w-60">
      <div class="w-20 h-20 mx-auto bg-gray-50 rounded-full shadow-sm justify-center items-center inline-flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
          <g id="File Serch">
            <path id="Vector" d="M19.9762 4V8C19.9762 8.61954 19.9762 8.92931 20.0274 9.18691C20.2379 10.2447 21.0648 11.0717 22.1226 11.2821C22.3802 11.3333 22.69 11.3333 23.3095 11.3333H27.3095M18.6429 19.3333L20.6429 21.3333M19.3095 28H13.9762C10.205 28 8.31934 28 7.14777 26.8284C5.9762 25.6569 5.9762 23.7712 5.9762 20V12C5.9762 8.22876 5.9762 6.34315 7.14777 5.17157C8.31934 4 10.205 4 13.9762 4H19.5812C20.7604 4 21.35 4 21.8711 4.23403C22.3922 4.46805 22.7839 4.90872 23.5674 5.79006L25.9624 8.48446C26.6284 9.23371 26.9614 9.60833 27.1355 10.0662C27.3095 10.524 27.3095 11.0253 27.3095 12.0277V20C27.3095 23.7712 27.3095 25.6569 26.138 26.8284C24.9664 28 23.0808 28 19.3095 28ZM19.3095 16.6667C19.3095 18.5076 17.8171 20 15.9762 20C14.1352 20 12.6429 18.5076 12.6429 16.6667C12.6429 14.8257 14.1352 13.3333 15.9762 13.3333C17.8171 13.3333 19.3095 14.8257 19.3095 16.6667Z" stroke="#4F46E5" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
          </g>
        </svg>
      </div>
      <div>
        <h2 class="text-center text-black text-xl font-semibold">There’s no product here</h2>
      </div>
    </div>
  </div>
</div>
<div *ngIf="paging?.length!>0" class="grid grid-cols-2 gap-5 sm:grid-cols-3 lg:grid-cols-5">
  <div *ngFor="let i of data" class="flex w-[210px] max-w-xs flex-col overflow-hidden rounded-lg border border-indigo-100 bg-white">
    <div class="relative mx-3 mt-3 flex h-[150px] overflow-hidden rounded-xl">
      <img *ngIf="i.photo[0] == undefined" class="peer absolute top-0 right-0 h-full w-full object-cover" src="../assets/icon/bg-default.png"/>
      <img *ngIf="i.photo[0] != undefined" class="peer absolute top-0 right-0 h-full object-cover" src="{{'data:image/jpg;base64,' + i.photo[0].image}}"/>
      <img *ngIf="i.photo[1] != undefined" class="peer absolute top-0 -right-96 h-full w-full object-cover transition-all delay-100 duration-1000 hover:right-0 peer-hover:right-0" src="{{'data:image/jpg;base64,' + i.photo[1].image}}" alt="product image" />
      <svg class="pointer-events-none absolute inset-x-0 bottom-5 mx-auto text-3xl text-white  transition-opacity group-hover:animate-ping group-hover:opacity-30 peer-hover:opacity-0" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32"><path fill="currentColor" d="M2 10a4 4 0 0 1 4-4h20a4 4 0 0 1 4 4v10a4 4 0 0 1-2.328 3.635a2.996 2.996 0 0 0-.55-.756l-8-8A3 3 0 0 0 14 17v7H6a4 4 0 0 1-4-4V10Zm14 19a1 1 0 0 0 1.8.6l2.7-3.6H25a1 1 0 0 0 .707-1.707l-8-8A1 1 0 0 0 16 17v12Z" /></svg>
    </div>
    <div class="mt-4 px-5 pb-5">
      <div class="text-md tracking-tight text-slate-900">{{ i.name }}</div>
      <div class="mt-1 mb-1 flex items-center justify-between">
        <p>
          <span class="text-lg font-bold text-slate-900 text-center">{{ i.price! | currency }}</span>
        </p>
      </div>
      <button (click)="clickDetail(i.id!)" class="flex w-full items-center justify-center rounded-md bg-[#5C06E4] px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-indigo-500 focus:outline-none focus:ring-4 focus:ring-blue-300">
        See Detail</button>
    </div>
  </div>
</div>

<div class="flex justify-end mt-3" *ngIf="paging?.length!>0">
  <mat-paginator  [length]="paging?.length!"
                  [pageSize]="paging?.pageSize!"
                  [pageSizeOptions]="[20,50, 100]"
                  (page)="onPageChange($event)"
                  aria-label="Select page">
  </mat-paginator>
</div>
