<app-navbar></app-navbar>
<div class="w-full flex justify-center">
  <div class="absolute inset-x-0 -z-10 transform-gpu overflow-hidden blur-3xl" aria-hidden="true">
    <div class="relative -z-10 left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
  </div>
  <mat-accordion *ngFor="let i of listPayment">
    <mat-expansion-panel *ngIf="i.totalFundUser! > 0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ i.transaction?.invoice }}
        </mat-panel-title>
        <mat-panel-description [ngClass]="{'text-[10px] font-semibold bg-amber-200 p-1 text-amber-600 rounded-md md:px-3 text-center items-end':i.state=='WAITING-REFUND',
                                          'text-[12px] font-semibold bg-green-300 p-1 text-green-600 rounded-md md:px-3 text-center items-end':i.state=='COMPLETED'}">
          {{ i.state }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="border-b-2 border-dashed pb-3">
        <div class="flex justify-between">
          <div class="flex items-start">
            <div class="rounded-md">
              <img class="h-[60px] w-[80px] w-full rounded-md"
              [src]="getImage(i)">
            </div>
            <div class="ml-2">
              <div class="text-xs text-gray-400 leading-6">{{ i.transaction!.transDet[0]!.product!.name }}</div>
              <div class="text-xs text-gray-400 leading-6">{{ i.transaction!.transDet[0]!.quantity }} x {{ i.transaction!.transDet[0]!.product!.price! | currency }}...</div>
            </div>
          </div>
          <div class="text-right text-sm leading-7 mt-7">
            <div class="font-semibold">Grand Total ：{{i.transaction!.total! | currency}}</div>
            <a [routerLink]="'/transaction-details/'+i.transaction?.id" class="font-bold text-[#5C06E4]">See Detail Transaction</a>
          </div>
        </div>
      </div>
      <div class="pt-4">
        <div class="flex flex-col items-end text-sm leading-8 pb-6">
          <div *ngIf="i.rejectedBy != undefined">
            <div>Rejected By <span class="text-[#5C06E4]">{{ i.rejectedBy }}</span></div>
            <div class="flex w-96 justify-between">
              <div>Reason for cancellation <span class="text-[#5C06E4]">{{ i.alasanRejected }}</span></div>
            </div>
          </div>
          <div *ngIf="i.state == 'WAITING-REFUND' && i.totalFundVendor! > 0" class="flex justify-center px-1 text-center rounded-md font-semibold bg-amber-200 text-amber-600 w-full">
            Please wait while we process your payment
          </div>
        </div>
        <div class="border-l-2 border-l-[#5C06E4] pl-2 mb-3">Proof of payment</div>
        <div class="rounded-xl bg-gray-100 mt-4 justify-center">
          <img *ngIf="i.tfUser != undefined" class="w-64 rounded-md" [src]="getImg(i)">
        </div>
        <div class="mt-6 border-t pt-5 text-sm flex items-center">Total payment to User：<span class="text-base text-red-500 font-bold">{{ i.totalFundUser!|currency }}</span></div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div *ngIf="listPayment?.length! == 0" class="w-full">
    <div class="w-full flex items-center flex-wrap justify-center gap-10 mt-5">
      <div class="grid gap-4 w-60">
        <div class="w-20 h-20 mx-auto bg-gray-50 rounded-full shadow-sm justify-center items-center inline-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="33" height="32" viewBox="0 0 33 32" fill="none">
            <g id="File Serch">
              <path id="Vector" d="M19.9762 4V8C19.9762 8.61954 19.9762 8.92931 20.0274 9.18691C20.2379 10.2447 21.0648 11.0717 22.1226 11.2821C22.3802 11.3333 22.69 11.3333 23.3095 11.3333H27.3095M18.6429 19.3333L20.6429 21.3333M19.3095 28H13.9762C10.205 28 8.31934 28 7.14777 26.8284C5.9762 25.6569 5.9762 23.7712 5.9762 20V12C5.9762 8.22876 5.9762 6.34315 7.14777 5.17157C8.31934 4 10.205 4 13.9762 4H19.5812C20.7604 4 21.35 4 21.8711 4.23403C22.3922 4.46805 22.7839 4.90872 23.5674 5.79006L25.9624 8.48446C26.6284 9.23371 26.9614 9.60833 27.1355 10.0662C27.3095 10.524 27.3095 11.0253 27.3095 12.0277V20C27.3095 23.7712 27.3095 25.6569 26.138 26.8284C24.9664 28 23.0808 28 19.3095 28ZM19.3095 16.6667C19.3095 18.5076 17.8171 20 15.9762 20C14.1352 20 12.6429 18.5076 12.6429 16.6667C12.6429 14.8257 14.1352 13.3333 15.9762 13.3333C17.8171 13.3333 19.3095 14.8257 19.3095 16.6667Z" stroke="#4F46E5" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round" />
            </g>
          </svg>
        </div>
        <div>
          <h2 class="text-center text-black text-xl font-semibold">There’s no refund here</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
